services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: sso
      POSTGRES_USER: sso
      POSTGRES_PASSWORD: sso
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
